<div class="col-lg-2">
  <table class="table table-bordered">
    <thead>
      <th colspan="2">Distrito</th>
      <th>
        <a href="">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </th>
      <th>Costo</th>
    </thead>
    <div class="col-lg-12">
    <tbody>
      <tr *ngFor="let distritos of listarDistrito">
        <td>{{ distritos.nombre_distrito }}</td>
        <td>
          <a href="">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </a>
        </td>
        <td>
            <input type="checkbox" id="check" name="chk_estado" value="{{distritos.habilitado}}">
        </td>
        <td>{{distritos.costo_envio}}</td>
      </tr>
    </tbody>
  </div>
  </table>
</div>
