<table class="table table-bordered">
    <tr>
      <th colspan='12'>MARKETING COMERCIAL</th>
    </tr>
    <tr>
      <th colspan='8'>Campaña
        <a (click)='showModalCampain()'>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </th>
      <!-- <th colspan='1'> <button class='btn btn-primary btn-block' (click)='postCampain()'>Guardar Campaña</button> </th> -->
    </tr>
    <tr>
      <td align=center>Tipo de Campaña</td>
      <td align=center>Nombre de Campaña</td>
      <td align=center>Producto</td>
      <td align=center>Cantidad</td>
      <td align=center>Descuento</td>
      <td align=center>Costo de envío</td>
      <td align=center>Fecha Inicio</td>
      <td align=center>Fecha Fin</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
    <!-- Camapaña Modal -->
    <div class="modal fade" id="campainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Agregar Campaña</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="nombre_campaña">Nombre Campaña</label>
                <input type="text" id="nombre_campaña" class="form-control" [(ngModel)]="addCampania.nombre_campana">
              </div>
              <div class="form-group">
                <label>Tipo de Campaña</label>
                <div class="cont-check">
                  <div class="checkbox">
                    <label><input #elemFree type="checkbox" value="free" name="free" (change)="chkFree = (elemFree.checked)?elemFree.value:undefined">Envio Gratis</label>
                  </div>
                  <div class="checkbox">
                    <label><input #elemDescuento type="checkbox" value="descount" name="descuento" (change)="chkDescuento = (elemDescuento.checked)?elemDescuento.value:undefined">Descuento</label>
                  </div>
                  <div class="checkbox">
                    <label><input #elemAdditionalProduct type="checkbox" value="AditionalProduct" name="productoAdicional" (change)="chkAdditionalProduct = (elemAdditionalProduct.checked)?elemAdditionalProduct.value:undefined">Producto Adicional</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Producto</label>
                <select  multiple class="form-control" [(ngModel)]="addCampania.producto">
                  <option *ngFor="let productos of listaProducto" [value]="productos.nombre_producto">{{productos.nombre_producto}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Lugar Envio</label>
                <select  multiple class="form-control" [(ngModel)]="addCampania.costo_envio">
                  <option *ngFor="let distrito of listaDireccion" [value]="distrito.costo_envio">{{distrito.nombre_distrito}}</option>
                </select>
              </div>
              <div class="form-group col-lg-6">
                <label for="nombre_campaña">Cantidad</label>
                <input type="text" id="cantidad" class="form-control" [(ngModel)]="addCampania.cantidad">
              </div>
              <div class="form-group col-lg-6">
                <label for="nombre_campaña">Descuento</label>
                <input type="text" id="descuento" class="form-control" [(ngModel)]="addCampania.descuento">
              </div>
              <div class="form-group col-lg-6">
                <label for="dateStart">Fecha desde</label>
                <input type="date" id="dateStart" class="form-control" [(ngModel)]="addCampania.fecha_inicio">
              </div>
              <div class="form-group col-lg-6">
                <label for="dateEnd">Fecha hasta</label>
                <input type="date" id="dateEnd" class="form-control" [(ngModel)]="addCampania.fecha_final">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)='postCampain()'>Save changes</button>
            </div>
          </div>
        </div>
      </div>
