<table class="table table-bordered">
  <tr>
    <th colspan='12'>MARKETING COMERCIAL</th>
  </tr>
  <tr>
    <th colspan='5'>Campaña</th>
    <th colspan='5'>Producto adicional</th>
  </tr>
  <tr>
    <td align=center>Tipo de Campaña</td>
    <td align=center>Producto</td>
    <td align=center class="cantidad">Cantidad</td>
    <td align=center class="descuento">Descuento</td>
    <td align=center>Costo de envío</td>
    <td align=center>Producto Adicional</td>
    <td align=center class="cantidad">Cantidad</td>
    <td align=center class="descuento">Descuento</td>
    <td colspan="2">Costo de envío</td>
  </tr>
  <tr>
    <td>
      <tr align=center><td>Envio gratis</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>Descuento</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>Producto adicional</td><td><input type="checkbox" name="" id=""></td></tr>
    </td>
    <td>
      <tr align=center *ngFor="let productos of listaProducto">
        <td>{{productos.nombre_producto}}</td>
        <td><input type="checkbox" name="" id="" value="{{productos.cod_producto}}"></td>
      </tr>
    </td>
    <td class="td">
      <tr align=center *ngFor="let productos of listaProducto;">
        <td ><input type="number" name="" id="" class="form-control "></td>
      </tr>
    </td>
    <td class="td">
      <tr align=center *ngFor="let productos of listaProducto;">
        <td ><input type="number" name="" id="" class="form-control "></td>
      </tr>
    </td>
    <td>
      <div class="scroll">
        <tr align=center *ngFor="let distrito of listaDireccion">
          <td>{{distrito.nombre_distrito}}</td>
          <td>{{distrito.costo_envio}}</td>
          <td><input type="checkbox" name="" id="" value="{{distrito.cod_distrito}}"></td>
        </tr>
    </div>
    </td>
    <td>
      <tr align=center *ngFor="let productos of listaProducto">
        <td>{{productos.nombre_producto}}</td>
        <td><input type="checkbox" name="" id="" value="{{productos.cod_producto}}"></td>
      </tr>
    </td>
    <td class="td">
      <tr align=center *ngFor="let productos of listaProducto">
        <td ><input type="number" name="" class="form-control "></td>
      </tr>
    </td>
    <td class="td">
      <tr align=center *ngFor="let productos of listaProducto;">
        <td ><input type="number" name="" class="form-control "></td>
      </tr>
    </td>
    <td>
      <div class="scroll">
      <tr align=center *ngFor="let distrito of listaDireccion">
        <td>{{distrito.nombre_distrito}}</td>
        <td>{{distrito.costo_envio}}</td>
        <td><input type="checkbox" name="" id="" value="{{distrito.cod_distrito}}"></td>
      </tr>
    </div>
    </td>
    <td>
      <tr>
        <td><span class="glyphicon glyphicon-calendar"></span>Fecha desde
        <tr><input type="date"></tr>
        </td>
      </tr>
      <tr>
          <td><span class="glyphicon glyphicon-calendar"></span>Fecha hasta
            <tr><input type="date"></tr>
            </td>
      </tr>
    </td>
  </tr>
</table>

