<table class="table table-bordered">
  <tr>
    <th colspan='12'>MARKETING COMERCIAL</th>
  </tr>
  <tr>
    <th colspan='5'>Campaña</th>
    <th colspan='4'>Producto adicional</th>
    <th colspan='1'> <button class='btn btn-primary btn-block'>Guardar Campaña</button> </th>
  </tr>
  <tr>
    <td align=center>Tipo de Campaña</td>
    <td align=center>Producto</td>
    <td align=center class="cantidad">Cantidad</td>
    <td align=center class="descuento">Descuento</td>
    <td align=center>Costo de envío</td>
    <td align=center>Producto Adicional</td>
    <td align=center class="cantidad">Cantidad</td>
    <td align=center class="descuento">Descuento</td>
    <td colspan="2">Costo de envío</td>
  </tr>
  <tr>
    <td>
      <tr align=center>
        <td>Envio gratis</td>
        <td>
          <input type="checkbox" name="envio_gratis" value="envio_gratis" [(ngModel)]="addTipodeCampana.envio_gratis">
        </td>
      </tr>
      <tr align=center>
        <td>Descuento</td>
        <td>
          <input type="checkbox" name=descuento value="descuento" [(ngModel)]="addTipodeCampana.descuento">
        </td>
      </tr>
      <tr align=center>
        <td>Producto adicional</td>
        <td>
          <input type="checkbox" name="producto_adicional" value="producto_adicional" [(ngModel)]="addTipodeCampana.producto_adicional">
        </td>
      </tr>
    </td>
    <td>
      <tr align=center *ngFor="let productos of listaProducto">
        <td>{{productos.nombre_producto}}</td>
        <td>
          <input type="checkbox" name="cantidad"  value="{{productos.cod_producto}}" [(ngModel)]="productos.cantidad">
        </td>
      </tr>
    </td>
    <td class="td">
      <tr align=center *ngFor="let productos of listaProducto">
        <td >
          <input type="number" name="cantidad" class="form-control" [(ngModel)]="productos.cantidad">
        </td>
      </tr>
    </td>
    <td class="td">
      <tr align=center *ngFor="let productos of listaProducto">
        <td ><input type="number" name="descuento" class="form-control" [(ngModel)]="productos.descuento"></td>
      </tr>
    </td>
    <td>
      <div class="scroll">
        <tr align=center *ngFor="let distrito of listaDireccion">
          <td>{{distrito.nombre_distrito}}</td>
          <td>{{distrito.costo_envio}}</td>
          <td><input type="checkbox" name="costo_envio" value="{{distrito.costo_envio}}" [(ngModel)]="distrito.costo_envio"></td>
        </tr>
    </div>
    </td>
    <td>
      <tr align=center *ngFor="let productos of listaProducto">
        <td>{{productos.nombre_producto}}</td>
        <td><input type="checkbox" name="cod_producto" id="" value="{{productos.cod_producto}}"></td>
      </tr>
    </td>
    <td class="td">
      <tr align=center *ngFor="let productos of listaProducto">
        <td ><input type="number" name="cantidad" class="form-control " [(ngModel)]="addCampana.cantidad"></td>
      </tr>
    </td>
    <td class="td">
      <tr align=center *ngFor="let productos of listaProducto;">
        <td ><input type="number" name="descuento" class="form-control " [(ngModel)]="addCampana.descuento"></td>
      </tr>
    </td>
    <td>
      <div class="scroll">
      <tr align=center *ngFor="let distrito of listaDireccion">
        <td>{{distrito.nombre_distrito}}</td>
        <td>{{distrito.costo_envio}}</td>
        <td><input type="checkbox" name="costo_envio" value="{{distrito.costo_envio}}" [(ngModel)]="distrito.costo_envio"></td>
      </tr>
    </div>
    </td>
    <td>
      <tr>
        <td>
          <span class="glyphicon glyphicon-calendar"></span>Fecha desde
        <tr>
          <input type="date"  [(ngModel)]="addCampana.fecha_inicio">
        </tr>
        </td>
      </tr>
      <tr>
        <td>
          <span class="glyphicon glyphicon-calendar"></span>Fecha hasta
          <tr>
            <input type="date" [(ngModel)]="addCampana.fecha_final">
          </tr>
        </td>
      </tr>
    </td>
  </tr>
</table>

