<table class="table table-bordered">
  <tr>
    <th colspan='12'>MARKETING COMERCIAL</th>
  </tr>
  <tr>
    <th colspan='5'>Campaña</th>
    <th colspan='5'>Producto adicional</th>
  </tr>
  <tr>
    <td align=center>Tipo de Campaña</td>
    <td align=center>Producto</td>
    <td align=center>Cantidad</td>
    <td align=center>Descuento</td>
    <td align=center>Costo de envío</td>
    <td align=center>Producto Adicional</td>
    <td align=center>Cantidad</td>
    <td align=center>Descuento</td>
    <td colspan="2">Costo de envío</td>
  </tr>
  <tr>
    <td>
      <tr align=center><td>Envio gratis</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>Descuento</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>Producto adicional</td><td><input type="checkbox" name="" id=""></td></tr>
    </td>
    <td>
      <tr align=center><td>Arandanos</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>Aguaymanto</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>Café 500 Gr</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>Café 200 gr</td><td><input type="checkbox" name="" id=""></td></tr>
    </td>
    <td>
      <tr align=center><td><input type="number" name="" id=""></td></tr>
      <tr align=center><td><input type="number" name="" id=""></td></tr>
      <tr align=center><td><input type="number" name="" id=""></td></tr>
      <tr align=center><td><input type="number" name="" id=""></td></tr>
    </td>
    <td>
      <tr align=center><td><input type="number" name="" id=""></td></tr>
      <tr align=center><td><input type="number" name="" id=""></td></tr>
      <tr align=center><td><input type="number" name="" id=""></td></tr>
      <tr align=center><td><input type="number" name="" id=""></td></tr>
    </td>
    <td>
      <div class="scroll">
      <tr align=center><td>La Molina</td><td>10</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>San Isidro</td><td>10</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>Miraflores</td><td>10</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>Surco</td><td>10</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>Surquillo</td><td>10</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>San Luis</td><td>10</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>Magdalena</td><td>10</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>San Miguel</td><td>10</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>San Borja</td><td>10</td><td><input type="checkbox" name="" id=""></td></tr>
    </div>
    </td>
    <td>
      <tr align=center><td>Arandanos</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>Aguaymanto</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>Café 500 Gr</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>Café 200 gr</td><td><input type="checkbox" name="" id=""></td></tr>
    </td>
    <td>
      <tr align=center><td><input type="number" name="" id=""></td></tr>
      <tr align=center><td><input type="number" name="" id=""></td></tr>
      <tr align=center><td><input type="number" name="" id=""></td></tr>
      <tr align=center><td><input type="number" name="" id=""></td></tr>
    </td>
    <td>
      <tr align=center><td><input type="number" name="" id=""></td></tr>
      <tr align=center><td><input type="number" name="" id=""></td></tr>
      <tr align=center><td><input type="number" name="" id=""></td></tr>
      <tr align=center><td><input type="number" name="" id=""></td></tr>
    </td>
    <td>
      <div class="scroll">
      <tr align=center><td>La Molina</td><td>10</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>San Isidro</td><td>10</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>Miraflores</td><td>10</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>Surco</td><td>10</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>Surquillo</td><td>10</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>San Luis</td><td>10</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>Magdalena</td><td>10</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>San Miguel</td><td>10</td><td><input type="checkbox" name="" id=""></td></tr>
      <tr align=center><td>San Borja</td><td>10</td><td><input type="checkbox" name="" id=""></td></tr>
    </div>
    </td>
    <td>
      <tr>
        <td><span class="glyphicon glyphicon-calendar"></span>Fecha desde
        <tr><input type="date"></tr>
        </td>
      </tr>
      <tr>
          <td><span class="glyphicon glyphicon-calendar"></span>Fecha hasta
            <tr><input type="date"></tr>
            </td>
      </tr>
    </td>
  </tr>
</table>

