<div class="col-lg-2">
  <table class="table table-bordered">
    <thead>
      <th>Categoria</th>
      <th>
        <a href="">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </th>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul class="contenedor">
            <li class="item">Bayas
              <ul class="contenedor-items">
                <li class="items">Arándanos(kg)</li>
                <li>Aguaymanto(kg)</li>
              </ul>
            </li>
          </ul>
        </td>
        <td>
          <ul class="contenedor">
              <li><input type="checkbox">
                <ul class="contenedor-checkbox">
                  <li><input type="checkbox"></li>
                  <li><input type="checkbox"></li>
                </ul>
              </li>
            </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
