<div class="col-lg-2">
  <table class="table table-bordered">
    <thead>
      <th>Categoria</th>
      <th>
        <a (click)='showModal()'>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </th>
    </thead>
    <tbody>
      <tr>
        <td colspan="2">
          <ul class="contenedor">
            <li class="item" *ngFor="let categoria of listaCategoria">{{categoria.nombre_categoria}}
              <input type="checkbox" value="{{categoria.cod_categoria}}">
              <ul class="contenedor-items" >
                <li class="items" *ngFor="let subcategoria of categoria.children ">
                  {{ subcategoria.nombre_categoria }}
                  <input type="checkbox" value="{{subcategoria.cod_categoria}}">
                </li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Agregando Categoria y Subcategoria</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="categoria">Categoria</label>
            <input type="text" name="" id="categoria" class="form-control">
          </div>
          <div class="form-group">
              <button  class="form-control btn btn-primary">Agregar Categoria</button>
          </div>
          <div class="form-group">
            <label for="subcategoria">Subcategoria</label>
            <input type="text" name="" id="subcategoria" class="form-control">
          </div>
          <div class="form-group">
            <h4 class="modal-title"> Seleccione una Categoria para la SubCategoria</h4>
            <label for="SelectCategoria">Categoria</label>
            <select name="" id="SelectCategoria" class="form-control">
              <option value="{{categoria.cod_categoria}}" *ngFor="let categoria of listaCategoria">{{categoria.nombre_categoria}}</option>
            </select>
          </div>
          <div class="form-group">
              <button  class="form-control btn btn-primary">Agregar Subcategoria</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
