<div class="col-lg-2">
  <table class="table table-bordered">
    <thead>
      <th>Categoria</th>
      <th>
        <a href="">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </th>
    </thead>
    <tbody>
      <tr>
        <td colspan="2">
          <ul class="contenedor">
            <li class="item" *ngFor="let categoria of listaCategoria">{{categoria.nombre_categoria}}
              <input type="checkbox" value="{{categoria.cod_categoria}}">
              <ul class="contenedor-items" >
                <li class="items" *ngFor="let subcategoria of categoria.children ">
                  {{ subcategoria.nombre_categoria }}
                  <input type="checkbox" value="{{subcategoria.cod_categoria}}">
                </li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
