<div class="col-lg-12">
  <table class="table table-bordered">
    <thead>
      <th><h3>ORDENES DE COMPRA</h3></th>
    </thead>
  </table>
  <table class="table table-bordered">
    <thead>
        <tr>
            <td><span class="glyphicon glyphicon-calendar"></span>Fecha desde
            <tr><input type="date"></tr>
            </td>
            <td><span class="glyphicon glyphicon-calendar"></span>Fecha desde
              <tr><input type="date"></tr>
            </td>
            <td>ESTADO
              <tr>
                <select name="" id="">
                  <option value="">--seleccione--</option>
                  <option value="">qwee</option>
                </select>
              </tr>
            </td>
            <td>
              EXPORTAR EXCEL
              <a href=""><i class="fa fa-database"></i></a>
            </td>
          </tr>
    </thead>
  </table>
  <table class="table table-bordered">
    <tbody>
      <tr>
          <td>Orden</td>
          <td>DNI</td>
          <td>Nombre</td>
          <td>Apellidos</td>
          <td>Correo</td>
          <td>Celular</td>
          <td>Distrito</td>
          <td>Fecha de compra</td>
          <td>Voucher</td>
          <td>Dirección exacta</td>
          <td>Producto</td>
          <td>Cantidad</td>
          <td>Pago</td>
          <td>Fecha de entrega</td>
          <td>Estado</td>
      </tr>
      <tr>
        <td>1</td>
        <td>12345678</td>
        <td>lorem</td>
        <td>lorem</td>
        <td>lorem@gmail.com</td>
        <td>123456789</td>
        <td>lorem</td>
        <td>normal</td>
        <td>normal</td>
        <td>normal</td>
        <td>normal</td>
        <td>12</td>
        <td>34</td>
        <td>normal</td>
        <td>A</td>
      </tr>
    </tbody>
  </table>
</div>
