<div class="col-lg-8">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Creacion de productos </th>
        <th colspan="7">
          <a data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Producto</th>
        <th>Imagen</th>
        <th>Descripcion del Producto</th>
        <th>Stock</th>
        <th>Precio</th>
        <th>Tiempo entrega</th>
        <th>Categoria</th>
        <th>Acción</th>
      </tr>
      <tr *ngFor="let producto of listaProducto">
        <td>{{producto.nombre_producto}}</td>
        <td><img  src = "{{ producto.imagen }}" alt=""></td>
        <td>{{producto.desc_producto}}</td>
        <td>{{producto.stock}}</td>
        <td>{{producto.precio}}</td>
        <td>{{producto.tiempo_entrega}}</td>
        <td>{{producto.nombre_categoria}}</td>
        <td align=center>
          <a (click)='eliminarProducto()'>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </a>
          <a (click)='editarProducto()'>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Creación de un Producto</h4>
      </div>
      <div class="modal-body">
        <div class="col-lg-12">
          <div class="form-group">
            <label for="name">Nombre Producto</label>
            <input type="text" name="nombre_producto" id="name" class="form-control" [(ngModel)]="addProducto.nombre_producto">
          </div>
        </div>
        <div class="col-lg-12">
          <label for="tiempo_entrega">Tiempo de Entrega</label>
          <input type="date" name="tiempo_entrega" id="tiempo_entrega" class="form-control" [(ngModel)]="addProducto.tiempo_entrega">
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label for="description">Descripción</label>
            <textarea name="desc_producto" id="description" cols="3" rows="4"  class="form-control" [(ngModel)]="addProducto.desc_producto"></textarea>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label for="image">Cargar imagen</label>
            <input type="file" name="imagen" id="image"   (change)='imageTransBase64($event)'>
            <img src="" alt="" class="hidden" id="img">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label for="precio">Precio</label>
            <input type="number" name="" id="precio" class="form-control" [(ngModel)]="addProducto.precio">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label for="stock">Stock</label>
            <input type="number" name="" id="stock" class="form-control" [(ngModel)]="addProducto.stock">
          </div>
        </div>
        <div class="col-lg-12">
            <ul class="contenedor">
                <li class="item" *ngFor="let categoria of listaCategoria">{{categoria.nombre_categoria}}
                  <input type="checkbox" value="{{categoria.cod_categoria}}" name="categoria_cod_categoria">
                  <ul class="contenedor-items" >
                    <li class="items" *ngFor="let subcategoria of categoria.children ">
                      {{ subcategoria.nombre_categoria }}
                      <input type="checkbox" value="{{subcategoria.cod_categoria}}" name="subcategoria.cod_categoria">
                    </li>
                  </ul>
                </li>
              </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
        <button type="button" class="btn btn-primary" (click)='grabarProducto()'>Save changes</button>
      </div>
    </div>
  </div>
</div>
