<div class="col-lg-6">
  <table class="table table-bordered">
    <thead>
        <th>Creacion de productos </th>
        <th>
          <a href="">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </th>
    </thead>
    <tbody>
      <tr>
        <th>Producto</th>
        <th>Imagen</th>
        <th>Descripcion del Producto</th>
        <th>Stock</th>
        <th>Precio</th>
        <th>Tiempo entrega</th>
        <th>Categoria</th>
      </tr>
      <tr *ngFor="let producto of listaProducto">
        <td>{{producto.nombre_producto}}</td>
        <td>{{producto.imagen}}</td>
        <td>{{producto.desc_producto}}</td>
        <td>{{producto.stock}}</td>
        <td>{{producto.precio}}</td>
        <td>{{producto.tiempo_entrega}}</td>
        <td>{{producto.categoria_cod_categoria}}</td>
      </tr>
    </tbody>
  </table>
</div>
