<div class="col-lg-2">
  <table class="table table-bordered">
    <thead>
      <th colspan="3">Distrito</th>
      <th>
        <a href="">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </th>
      <th>Costo</th>
    </thead>
    <tbody>
      <td>La Molina</td>
      <td>
        <a href="">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>
      </td>
      <td>
        <label class="switch">
          <input type="checkbox" id="check" name="chk_estado" value="I">
          <span class="slider round"></span>
        </label>
      </td>
      <td>10</td>
    </tbody>
  </table>
</div>
