<div class="col-lg-2">
  <table class="table table-bordered">
    <thead>
      <th colspan="2">Distrito</th>
      <th>
        <a href="">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </th>
      <th>Costo</th>
    </thead>
    <tbody>
      <tr>
        <td>La Molina</td>
        <td>
          <a href="">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </a>
        </td>
        <td>
            <input type="checkbox" id="check" name="chk_estado" value="I">
        </td>
        <td>10</td>
      </tr>
    </tbody>
  </table>
</div>
